<%= form_for(@gatha) do |f| %>
  <% if @gatha.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gatha.errors.count, "error") %> prohibited this gatha from being saved:</h2>

      <ul>
      <% @gatha.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :index %><br>
    <%= f.text_field :index %>
  </div>
  <div class="field">
    <%= f.label :vagga_id %><br>
    <%= f.number_field :vagga_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
