<p id="notice"><%= notice %></p>

<p>
  <strong>Index:</strong>
  <%= @gatha.index %>
</p>

<p>
  <strong>Vagga:</strong>
  <%= @gatha.vagga_id %>
</p>

<%= link_to 'Edit', edit_gatha_path(@gatha) %> |
<%= link_to 'Back', gathas_path %>
